# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc
results/
.env
experiments/nci/help.txt
experiments/.ipynb_checkpoints
experiments/mlartifacts
experiments/mlruns
experiments/results
mlruns/
data/adolescent
data/adult
data/object_save/data_dictionary.pkl